.darkbackground {
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.333);
    z-index: 99999;
    margin: 0;
    transition: all 0.5s;
}

.modal {
    display: none;
    background-color: #FFFFFF;
    border-radius: 10px;
    max-width: 630px;
    width: 43%;
    min-height: 688px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

#cross {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 15px;
    right: 15px;
}



#cross:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.25s all;
}



.gallery-title {
    font-size: 1.6rem;
    font-weight: 400;
    display: block;
    margin-top: 50px;

}

.preview-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px auto;
    row-gap: 30px;
    column-gap: 10px;
    width: 67%;
    border-bottom: 1px solid rgba(179, 179, 179, 1);
    overflow-y: scroll;
    padding-bottom: 100px;
    border-bottom: 1px solid grey;
    max-height: 300px;
}

.preview-gallery img {
    width: 100%;
    object-fit: cover;
}

.modal-pic {
    position: relative;
}

#trash {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 5px 3px;
    top: 3px;
    right: 3px;
    color: #FFFFFF;
    background-color: black;
}

#trash:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.25s all;
}

.alert {
    display: none;
    height: 15vh;
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
    border: 1px solid black;
}

.zone-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    position: relative;

}

.zone-text span {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Syne";
}

.validation {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Syne";
    background-color: rgba(29, 97, 84, 1);
    color:#FFFFFF;
    border-radius: 10px;
    border: none;
}

