.darkbackground {
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.333);
    z-index: 99999;
    margin: 0;
    transition: all 0.5s;
}

.modal {
    display: none;
    background-color: #FFFFFF;
    border-radius: 10px;
    max-width: 630px;
    width: 43%;
    min-height: 688px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}



.submit-button {
    font-size: 0.9rem;
    font-weight: 700;
    width: 38%;
    height: 36px;
    color: #FFFFFF;
    border: none;
    border-radius: 60px;
    background-color: #1D6154;
}

#cross {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 15px;
    right: 15px;
}

#cross:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.25s all;
}

.gallery-title {
    font-size: 1.6rem;
    font-weight: 400;
    display: block;
    margin-top: 50px;
}

.preview-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px auto;
    row-gap: 30px;
    column-gap: 10px;
    width: 67%;
    border-bottom: 1px solid rgba(179, 179, 179, 1);
    overflow-y: scroll;
    padding-bottom: 100px;
    border-bottom: 1px solid grey;
    max-height: 300px;
}

.modal-pic {
    position: relative;
}

.preview-gallery img {
    width: 100%;
    object-fit: cover;
}

.preview-img {
    position: relative;
}

#trash {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 5px 3px;
    top: 3px;
    right: 3px;
    color: #FFFFFF;
    background-color: black;
}

#trash:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.25s all;
}

.alert {
    display: none;
    height: 15vh;
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
    border: 1px solid black;
}

.zone-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    position: relative;

}

.zone-text span {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Syne";
}

.validation {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Syne";
    background-color: rgba(29, 97, 84, 1);
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
}

/*.upload-modal {
    display: none;
}*/

.arrow-back {
    display: block;
    padding: 15px 0 0 25px;
    width: 21px;
    height: 18px;
    text-align: left;
    cursor: pointer;
}

.gallery-title {
    margin: 20px 0 35px;
    font-size: 1.9rem;
    font-weight: 400;
}

.upload-img {
    width: 37%;
    height:100%;
    object-fit: cover;
    position: absolute;

}

.images-mode {
    transform: scale(4);
    opacity: 0.2;
    position: absolute;
    top: 50px;
    right: 215px;
}

.image-upload {
    position: relative;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    background-color: #E8F1F6;
    width: 66%;
    margin:auto;
}

.file-upload {
    background-color: rgba(203, 214, 220, 1);
    border-radius: 50px;
    color: rgba(48, 102, 133, 1);
    font-size: 0.9rem;
    font-weight: 500;
    overflow: hidden;
    padding: 10px 25px;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.file-upload .active {
    background-color: #E8F1F6;
}

.file-upload .input-file {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    opacity: 0;
    cursor: pointer;
    width: 148px;
    height: 46px;
}


input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}

.pic-extension-size {
    font-size: 0.7rem;
    font-weight: 400;
    padding-bottom: 20px;
}

.submit-form {
    width: 66%;
    margin: 30px auto;
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: 50px;
}

.pic-specs {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.image-property--title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.image-property--category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}


.image-property label {
    font-size: 0.9rem;
    font-weight: 500;
}

.image-title, .image-category {
    width: 100%;
    height: 51px;
    border: none;
    text-align: center;
    background-color: white;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.image-category option {
    font-size: 0.9rem;
    font-weight: 400;
}

.submit-image-button {
    font-size: 0.9rem;
    font-weight: 700;
    height: 36px;
    width: 38%;
    margin: 0 50px;
    border: none;
    border-radius: 60px;
    color: white;
    background: rgba(167, 167, 167, 1);
}

.active-button {
    background-color: #1D6154;
}